.boxFine {
  width: 400px;
  height: 250px;
  padding: 10px;
  /* border: 2px solid lightgray; */
  position: absolute;
  top: 250px;
  left: 570px;
  background-color: #f5f5dc;
  -webkit-box-shadow: 5px 5px 3px 2px #7a7e87;
  box-shadow: 5px 5px 3px 2px #7a7e87;
}
